{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Login" %}</title>
    <!-- Inclusion de Tailwind CSS pour le style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <!-- Inclusion de votre fichier CSS personnalisé -->
    <link href="{% static './css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <!-- Conteneur principal du formulaire de connexion -->
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
        <!-- Titre de la page de connexion -->
        <h2 class="text-2xl font-bold mb-6 text-center">{% trans "Login" %}</h2>
        <!-- Formulaire de connexion -->
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <!-- Champ pour le nom d'utilisateur -->
            <div class="mb-4">
                {{ form.username.label_tag }}
                {{ form.username }}
                <!-- Affichage des erreurs pour le champ nom d'utilisateur -->
                {% for error in form.username.errors %}
                <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>
            <!-- Champ pour le mot de passe -->
            <div class="mb-4">
                {{ form.password.label_tag }}
                {{ form.password }}
                <!-- Affichage des erreurs pour le champ mot de passe -->
                {% for error in form.password.errors %}
                <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>
            <!-- Bouton de soumission du formulaire -->
            <button type="submit" class="w-full bg-primary text-white py-2 rounded hover:bg-second transition">
                {% trans "Login" %}
            </button>
        </form>
        <!-- Affichage des erreurs non liées à un champ spécifique -->
        {% if form.non_field_errors %}
        <div class="mt-4 text-red-500 text-xs italic">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
