{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-bg">
    <div class="text-center">
        <h1 class="text-3xl font-bold mb-4">{% trans "Welcome to the Multilingual Blog Site" %}</h1>
        <p class="mb-4">{% trans "By Yann" %}</p>
        <a href="{% url 'article_list' %}" class="text-primary hover:underline">{% trans "View Articles" %}</a>
    </div>
</div>
{% endblock %}
